/*          <h> Classe            */
h1{
    font-family:Arial;
    font-size: 35px;
}
h2{
    font-family:Arial;
    font-size: 25px;

}
h3{
    font-family:Arial;
    font-size: 1.7em;
}
/*          Class color             */
.white { color: white }
.red { color: #eb0227 }